* {
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  margin: 0%;
}
#menu {
  height: 80px;
  padding: 0 20px;
}
#logo {
  font-size: 30px;
  line-height: 80px;
  color: #003666;
  float: left;
}
nav {
  float: right;
  line-height: 80px;
}
nav a:link {
  text-decoration: none;
  margin-right: 25px;
  color: #003666;
}
nav a:hover {
  border-bottom: 2px solid;
  color: #003666;
}
nav a:visited {
  text-decoration: none;
  margin-right: 25px;
  color: #003666;
}
.ikon {
  margin-right: 7px;
  font-size: 16px;
}
#anasayfa {
  height: 600px;
  background-image: url("../img/osm.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#black {
  height: 600px;
  background-color: black;
  opacity: 0.5;
}
#icerik {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%-50%);
  color: white;
  font-size: 20px;
}
#hakkimizda {
  background-color: #f8f9fa;
  padding: 50px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}
h3 {
  font-size: 55px;
  color: #003666;
  font-weight: 600;
}
#container {
  width: 1200px;
  height: auto;
  margin: auto;
}
#sol {
  float: left;
  border-right: 3px solid #445c6e;
  font-size: 30px;
  width: 400px;
  color: #445c6e;
}
#h5sol {
  line-height: 1.6;
  font-size: 22px;
  font-weight: 600;
}
#h5sol,
#sag {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
#sag {
  float: right;
  width: 750px;
  color: #999999;
  text-align: left;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 100;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.mt100 {
  margin-top: 100px;
}
#pson {
  color: #999;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.8;
  margin-top: 30px;
  font-weight: 100px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
  background: url(https://i.hizliresim.com/17Pq05.jpg);
}
.clear {
  clear: both;
}
#page-wrap {
  width: 800px;
  margin: 40px auto 60px;
}
h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
}
h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  position: relative;
}
h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 16px;
  color: #999;
  font-weight: normal;
}
p {
  margin: 0 0 16px 0;
}
a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}
a:hover {
  border-bottom-style: solid;
  color: black;
}
ul {
  margin: 0 0 32px 17px;
}
#objective {
  width: 500px;
  float: left;
}
#objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
}
dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  float: left;
  height: 100px;
  border-right: 1px solid #999;
}
dd {
  width: 600px;
  float: right;
}
dd.clear {
  float: none;
  margin: 0;
  height: 15px;
}
#egitimbilgilerim {
  font-size: 40px;
  text-align: center;
}
#iletisim {
  background: url("../img/iletisim.jpg");
  background-size: cover;
  padding: 50px;
  height: auto;
  text-align: center;
}
#h3iletisim {
  color: white;
}
#iletisimopak {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px 20px;
  border-radius: 5px;
  margin-bottom: 50px;
  height: 550px;
}
#formgroup {
  width: 700px;
  float: left;
  height: 500px;
  text-align: left;
}
#solform {
  width: 50%;
  float: left;
  padding-right: 5px;
}
#sagform {
  width: 50%;
  float: right;
  padding-left: 5px;
}
.form-control {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ced3da;
}
textarea {
  font-family: Arial;
}
#adres {
  width: 450px;
  float: right;
  padding: 30px;
  height: 500px;
  text-align: left;
}
#adresbaslik {
  font-size: 30px;
  color: white;
}
.adresp {
  color: #ddd;
  font-size: 15px;
  letter-spacing: 1.5px;
}
#copyright {
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
#up {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 15px;
  margin-top: 20px;
  padding: 9px 12px;
}
